[flake8]

max-line-length = 550

# Whether to display the pep8 instructions on failure (can be quite verbose)
show-pep8 = False

# Whether to show source code for each failure
show-source = True

# Maximum cyclomatic complexity allowed
max-complexity = 80

format = pylint

exclude = .git,__pycache__

per-file-ignores = \
  # Module imported but unused
  Base/Python/mrml.py:F401 \
  Base/Python/slicer/logic.py:F401 \
  Base/Python/slicer/parameterNodeWrapper/__init__.py:F401 \
  Base/Python/vtkAddon.py:F401 \
  Base/Python/vtkITK.py:F401 \
  Base/Python/vtkSegmentationCore.py:F401 \
  Base/Python/vtkTeem.py:F401 \
  Modules/*/__init__.py:F401 \
  Extensions/*/__init__.py:F401 \
  Utilities/*/__init__.py:F401

ignore =
  # Do not use bare `except:`, it also catches unexpected events like memory errors, interrupts, system exit, and so on.
  B001,
  # Do not use mutable data structures for argument defaults.
  B006,
  # Loop control variable not used within the loop body.
  B007,
  # Do not perform function calls in argument defaults.
  B008,
  # Do not call getattr(x, 'attr'), instead use normal property access: x.attr.
  B009,
  # Do not call setattr with a constant attribute value, it is not any safer than normal property access.
  B010,
  # multiple imports on one line
  E401,
  # module level import not at top of file
  E402,
  # the backslash is redundant between bracket
  E502,
  # do not use bare 'except'
  E722,
  # do not assign a lambda expression, use a def
  E731,
  # 'from module import *' used; unable to detect undefined names
  F403,
  # Name may be undefined, or defined from star import
  F405,
  # f-string is missing placeholders
  F541,
  # Redefinition of unused name from line n
  F811,
  # Undefined name name
  F821,
  # local variable 'inside_segment' is assigned to but never used
  F841,
  # trailing whitespace
  W291,
  # blank line contains whitespace
  W293,
  # line break before binary operator
  W503,
  # line break after binary operator
  W504
