# Ignore all dotfiles...
.*

# Ignore all back-up files...
*~
*.bak

# except for .gitignore
!.gitignore

# Exclude Kdevelop4 files ...
.kdev*

# Exclude QtCreator files ...
CMakeLists.txt.user*

# Ignore ctags file
tags

# Ignore pyc files ...
*.pyc
