# Ignore all dotfiles...
.*
!.codespellignore
!.clang-format
!.gitattributes
!.git-blame-ignore-revs
!.github/
!.pre-commit-config.yaml
!.readthedocs.yaml
!.ruff.toml

# Ignore all back-up files...
*~
*.bak

# except for .gitignore
!.gitignore

# Exclude Kdevelop4 files ...
.kdev*

# Exclude QtCreator files ...
CMakeLists.txt.user*

# Ignore ctags file
tags

# Ignore pyc files ...
*.pyc

# Documentation
Docs/_build
Docs/_moduledescriptions

# CLI module translation files
Docs/_extraCLI/*_tr.h
Modules/CLI/*/*_tr.h

# Do not commit files that end with .txx extension
# change the filename to .hxx to be recognized as
# C++ files in many ide's and analysis tools.
# (i.e. AUTOMOC for building Qt6)
*.txx

# Ignore buildkit result folder
result/
