repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: "v4.1.0"
  hooks:
  - id: check-added-large-files
    args: ['--maxkb=1024']
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks

- repo: https://github.com/PyCQA/flake8
  rev: "4.0.1"
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear==22.1.11]
