docutils
linkify-it-py
lxml>=6.1.0
myst-parser
pygments>=2.20.0
# Workaround for readthedocs bug (https://github.com/readthedocs/sphinx_rtd_theme/issues/1343)
sphinx>=5.0,!=5.2.0.post0
sphinx-issues
sphinx-jsonschema
sphinx_markdown_tables>=0.0.17
sphinx-notfound-page
sphinx-design
sphinx-reredirects
sphinx_rtd_theme>=0.5.2
requests>=2.33.0 # not directly required, pinned to avoid a vulnerability
urllib3>=2.7.0 # not directly required, pinned to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned to avoid a vulnerability
