name: CI

on:
  # Triggers the workflow on push or pull request events
  push:
    branches:
      - "main"
    paths-ignore:
      - "COPYRIGHT.txt"
      - "License.txt"
      - "README.txt"
      - "requirements-docs.txt"
      - "SuperBuild.cmake"
      - "SuperBuild/**"
      - "**.md"
      - "Docs/**"
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - "COPYRIGHT.txt"
      - "License.txt"
      - "README.txt"
      - "requirements-docs.txt"
      - "SuperBuild.cmake"
      - "SuperBuild/**"
      - "**.md"
      - "Docs/**"
  # Allows running this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  build-slicer:
    name: Build Slicer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      - name: 'Build Slicer'
        uses: ./.github/actions/slicer-build

      - name: 'Upload Slicer package'
        uses: actions/upload-artifact@82c141cc518b40d92cc801eee768e7aafc9c2fa2 # v2.3.1
        with:
          name: slicer-package
          path: ${{ github.workspace }}/${{ steps.slicer-build.outputs.package }}
          retention-days: 1
