name: CI (Build)

on:
  # Triggers the workflow on push or pull request events
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"
  # Allows running this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-slicer:
    name: Build Slicer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # Filter paths to determine whether to proceed with the build
      - name: "Filter Paths"
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            paths-to-include:
              - ".github/actions/slicer-build/**"
              - "Applications/**"
              - "Base/**"
              - "CMake/**"
              - "Extensions/**"
              - "Libs/**"
              - "Modules/**"
              - "Resources/**"
              - "Testing/**"
              - "CMakeLists.txt"

      # Retrieve changes in SuperBuild-related files relative to the 'nightly-main' branch
      - name: "Detect SuperBuild Changes"
        uses: tj-actions/changed-files@8cba46e29c11878d930bca7870bb54394d3e8b21 # v47.0.2
        id: superbuild-changes
        with:
          files: |
            SuperBuild/External_*
          base_sha: nightly-main

      # List any SuperBuild files that were changed
      - name: "List Changed SuperBuild Files"
        if: steps.superbuild-changes.outputs.any_changed == 'true'
        run: |
          echo "Changed files:"
          for file in ${ALL_CHANGED_FILES}; do
            echo " $file"
          done
        env:
          ALL_CHANGED_FILES: ${{ steps.superbuild-changes.outputs.all_changed_files }}

      - name: "Retrieve SHA associated with 'nightly-main' branch"
        id: retrieve-nightly-main-sha
        run: |
          sha=$(git rev-parse origin/nightly-main)
          echo "sha [$sha]"
          echo "sha=$sha" >> $GITHUB_OUTPUT

      - name: "Retrieve metadata associated with 'slicer/slicer-base:latest' Docker image"
        id: retrieve-docker-slicer-base-metadata
        run: |
          docker pull slicer/slicer-base:latest
          slicer_version=$(docker inspect --format json slicer/slicer-base:latest | \
            jq '.[0].Config.Env[] | select(startswith("SLICER_VERSION=")) | split("=")[1]')
          echo "slicer_version [$slicer_version]"
          echo "slicer_version=$slicer_version" >> $GITHUB_OUTPUT

      # Check prerequisites for the build
      - name: "Check Prerequisites"
        id: check-prereqisities
        run: |
          if [[ $SUPERBUILD_CHANGED == "true" ]]; then
            echo "::warning ::Skipping Slicer build due to changes in SuperBuild files relative to 'nightly-main' branch."
          fi
          if [[ $DOCKER_IMAGE_UPDATED == "false" ]]; then
            echo "::warning ::Skipping Slicer build because latest 'slicer/slicer-base' docker image is not yet published."
          fi
        env:
          SUPERBUILD_CHANGED: ${{ steps.superbuild-changes.outputs.any_changed }}
          DOCKER_IMAGE_UPDATED: ${{ startsWith(steps.retrieve-nightly-main-sha.outputs.sha, steps.retrieve-docker-slicer-base-metadata.outputs.slicer_version) }}

      # Build Slicer if relevant paths were changed and no SuperBuild changes were detected
      - name: "Build Slicer"
        id: slicer-build
        if:
          ${{ steps.changes.outputs.paths-to-include == 'true' && steps.superbuild-changes.outputs.any_changed == 'false'
          && startsWith(steps.retrieve-nightly-main-sha.outputs.sha, steps.retrieve-docker-slicer-base-metadata.outputs.slicer_version) }}
        uses: ./.github/actions/slicer-build

      # Upload the Slicer package artifact if the build was successful
      - name: "Upload Slicer package"
        if: ${{ steps.slicer-build.outcome == 'success' }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: slicer-package
          path: ${{ github.workspace }}/${{ steps.slicer-build.outputs.package }}
          retention-days: 1
